<div class="editable-ticket">
  <form #editableTicketForm="ngForm" id="editableTicketForm">
    <mat-form-field>
      <mat-label>Title</mat-label>
      <input matInput name="title" class="ticket-title" placeholder="Leave a descriptive title" [ngModel]="ticket?.title" (ngModelChange)="ticket.title = $event" mat-autosize required/>
    </mat-form-field>

    <div class="ticket-content" fxLayout.gt-sm="row">
      <div class="description" fxFlex.md="50" fxFlex.gt-md="75">
        <mat-form-field appearance="fill">
          <textarea name="description" matInput placeholder="Ticket description" rows="8" [ngModel]="ticket?.description" (ngModelChange)="ticket.description = $event" ></textarea>
        </mat-form-field>
      </div>
      <div class="right-panel" fxFlex.md="50" fxFlex.gt-md="25">
        <div class="toggle-group-wrapper">
          <mat-button-toggle-group class="input-item toggle-group" name="status" [ngModel]="ticket?.status" (ngModelChange)="ticket.status = $event"  required>
            <mat-button-toggle *ngFor="let status of statusMap | keyvalue; let i = index;" [value]="i" aria-label="status-{{status.value}}">
              {{status.value}}
              <mat-icon *ngIf="i === 0">radio_button_unchecked</mat-icon> <!-- OPEN -->
              <mat-icon *ngIf="i === 1">autorenew</mat-icon> <!-- INPROGRESS -->
              <mat-icon *ngIf="i === 2">check_circle_outline</mat-icon> <!-- DONE -->
            </mat-button-toggle>
          </mat-button-toggle-group>
        </div>
        <div class="toggle-group-wrapper">
          <mat-button-toggle-group class="input-item toggle-group" name="priority" [ngModel]="ticket?.priority" (ngModelChange)="ticket.priority = $event"  required>
            <mat-button-toggle *ngFor="let priority of priorityMap | keyvalue; let i = index"
              [value]="i" aria-label="priority-{{priority.value}}" [style.color]="priorityColorMap[i]">
              {{priority.value}}
              <mat-icon *ngIf="i === 0" >expand_more</mat-icon> <!-- LOW -->
              <mat-icon *ngIf="i === 1" >horizontal_rule</mat-icon> <!-- HIGH -->
              <mat-icon *ngIf="i === 2" >arrow_upward</mat-icon> <!-- CRITICAL -->
            </mat-button-toggle>
          </mat-button-toggle-group>
        </div>
        <mat-form-field appearance="fill" class="input-item">
          <input name="email" matInput #email="ngModel" placeholder="email" [ngModel]="ticket?.email" (ngModelChange)="ticket.email = $event"  email required>
          <mat-error *ngIf="!email.errors?.required && email.errors?.email && (email?.dirty || email?.touched)">
            Please enter a valid email address
          </mat-error>
          <mat-error *ngIf="email.errors?.required && (email?.dirty || email?.touched)">
            Email is required
          </mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="action-buttons" >
        <button mat-stroked-button (click)="goToTicketBrowser()">
          <mat-icon>arrow_back_io</mat-icon><span fxShow fxHide.lt-sm="true">All Tickets</span>
        </button>
        
        <div>
            <button *ngIf="showDelete" mat-stroked-button color="warn" (click)="deleteTicket(ticket.id)"
              #tooltip="matTooltip"
              matTooltip="Changes are saved to local storage since there is no supporting service"
              [matTooltipPosition]="'above'"
              aria-label="Delete ticket">
              <mat-icon>delete</mat-icon><span fxShow fxHide.lt-sm="true">Delete</span>
            </button>
            <button type="submit" mat-stroked-button [disabled]="!editableTicketForm.valid" (click)="saveTicket()" color="primary"
              #tooltip="matTooltip"
              matTooltip="Changes are saved to local storage since there is no supporting service"
              [matTooltipPosition]="'above'"
              aria-label="Save ticket">
              <mat-icon>save</mat-icon><span fxShow fxHide.lt-sm="true">Save</span>
            </button>
        </div>
      </div>
  </form>
</div>
