.editable-ticket {
  height: 100%;
}

form {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.ticket-content {
  > div {
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

#save {
  align-self: flex-end;
}

.action-buttons {
  margin-top: auto;
  display: flex;
  justify-content: space-between;

  > div {
      justify-content: flex-end;
      display: flex;
  }
}

.input-item {
  margin: 5px;
}

.toggle-group {
  margin: 5px 0px;
}

.right-panel {
  flex-direction: column;
}
.toggle-group-wrapper {
  display: flex;
  justify-content: flex-end;
}