.editable-ticket {
  height: 100%;
}
form {
  display: flex;
  flex-direction: column;
  // justify-content: space-between;
  height: 100%;
}
mat-form-field {
  min-width: 50%;
}
.ticket-content {
  display: flex;
  flex-direction: row;
  > div {
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
    > * {
      padding: 5px;
    }
  }
}

#save {
  align-self: flex-end;
}


.action-buttons {
  margin-top: auto;
  display: flex;
  justify-content: space-between;

  > div {
      justify-content: flex-end;
      display: flex;
  }
}

.button-toggles {
  display: flex;
  justify-content: space-between;
}

.description {
  display: flex;
  flex-grow: 2;
}