<div class="editable-ticket">
  <form #editableTicketForm="ngForm" id="editableTicketForm">
    <mat-form-field>
      <mat-label>Title</mat-label>
      <input matInput name="title" class="ticket-title" placeholder="Leave a descriptive title" [(ngModel)]="ticket.title" mat-autosize required/>
    </mat-form-field>

    <div class="ticket-content" fxLayout.gt-sm="row">
      <div class="description">
        <mat-form-field appearance="fill">
          <textarea name="description" matInput placeholder="Ticket description" rows="10" [(ngModel)]="ticket.description"></textarea>
        </mat-form-field>
      </div>
      <div>
        <div fxLayout.lt-md="row">
          <mat-button-toggle-group class="input-item" name="status" [(ngModel)]="ticket.status" required>
            <mat-button-toggle *ngFor="let status of statusMap | keyvalue" value="{{status.key}}" aria-label="status-{{status.value}}">{{status.value}}</mat-button-toggle>
          </mat-button-toggle-group>
          <mat-button-toggle-group style="margin-left: auto;" class="input-item" name="priority" [(ngModel)]="ticket.priority" required>
            <mat-button-toggle *ngFor="let priority of priorityMap | keyvalue" value="{{priority.key}}" aria-label="priority-{{priority.value}}">{{priority.value}}</mat-button-toggle>
          </mat-button-toggle-group>
        </div>
        <mat-form-field appearance="fill" class="input-item">
          <input name="email" matInput #email="ngModel" placeholder="email" [(ngModel)]="ticket.email" email required>
          <mat-error *ngIf="!email.errors?.required && email.errors?.email && (email?.dirty || email?.touched)">
            Please enter a valid email address
          </mat-error>
          <mat-error *ngIf="email.errors?.required && (email?.dirty || email?.touched)">
            Email is required
          </mat-error>
        </mat-form-field>
        <div>
          <mat-chip-list class="input-item" #chipList aria-label="Related tickets selection">
            <mat-chip
              *ngFor="let relatedTicket of relatedTickets"
              [selectable]="refersToOptions.selectable"
              [removable]="refersToOptions.removable"
              (removed)="removeRelated(relatedTicket)">
              {{relatedTicket.title}}
              <mat-icon matChipRemove *ngIf="refersToOptions.removable">cancel</mat-icon>
            </mat-chip>
            <input
              placeholder="Add a related ticket..."
              [matAutocomplete]="auto"
              [matChipInputFor]="chipList">
          </mat-chip-list>
          <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selectRelated($event)">
            <mat-option *ngFor="let relatableTicket of relatableTickets" [value]="relatableTicket">
              {{relatableTicket.title}}
            </mat-option>
          </mat-autocomplete>
        </div>
      </div>
    </div>
    <div class="action-buttons" >
        <button mat-stroked-button (click)="goToTicketBrowser()">
          <mat-icon>arrow_back_io</mat-icon><span fxShow fxHide.lt-sm="true">All Tickets</span>
        </button>
        <div>
            <button *ngIf="showDelete" mat-stroked-button color="warn" (click)="deleteTicket(ticket.id)">
              <mat-icon>delete</mat-icon><span fxShow fxHide.lt-sm="true">Delete</span>
            </button>
            <button type="submit" mat-stroked-button [disabled]="!editableTicketForm.valid" (click)="saveTicket()" color="primary">
              <mat-icon>save</mat-icon><span fxShow fxHide.lt-sm="true">Save</span>
            </button>
        </div>
      </div>
  </form>
</div>
