<mat-toolbar color="primary">
    <button mat-icon-button aria-label="Menu icon">
        <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
    </button>
    <span>Demo Org</span><span *ngFor="let crumb of breadCrumbs">&nbsp;/&nbsp;{{crumb}}</span>
</mat-toolbar>
<mat-sidenav-container [autosize]="true">
    <mat-sidenav #sidenav mode="side" opened>
        <mat-nav-list>
        <a mat-list-item [routerLink]="'/tickets'"> Tickets ({{ticketState.tickets?.length}}) </a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <!-- TODO: Not correct height if in mobile -->
        <div ngClass.xs="xs-main-content" ngClass.gt-xs="gt-xs-main-content">
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>
