<form id="newTicket">
    <mat-form-field class="ticket-detail">
      <mat-label>Title</mat-label>
      <input matInput [formControl] = "titleFormControl"/>
    </mat-form-field>
  
    <mat-form-field class="ticket-detail">
      <mat-label>Description</mat-label>
      <textarea rows="10" matInput [formControl] = "descriptionFormControl"></textarea>
    </mat-form-field>

    <mat-form-field class="ticket-detail">
      <input matInput placeholder = "Email" [formControl] = "emailFormControl">
      <mat-error *ngIf="emailFormControl.dirty && emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
        Please enter a valid email address
      </mat-error>
      <mat-error *ngIf = "emailFormControl.dirty && emailFormControl.hasError('required')">
        Email is required
      </mat-error>
    </mat-form-field>


    <button id="save" mat-fab color="primary" aria-label="Create a new ticket" (click)="saveTicket()">
        <mat-icon>save</mat-icon>
    </button>
</form>