<h1></h1>
<mat-card>
    <mat-card-header>
        <mat-card-title>{{(ticket | async)?.title}}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <div>Ticket #: {{(ticket | async)?.id}}</div>
        <div>Description: {{(ticket | async)?.description}}</div>
        <div>Status: {{(ticket | async)?.status}}</div>
        <div>Priority: {{(ticket | async)?.priority}}</div>
        <div>Email: {{(ticket | async)?.email}}</div>
        <div>Status: {{(ticket | async)?.status}}</div>
        <div *ngIf="(ticket | async).refersTo">Refers To: {{(ticket | async)?.refersTo}}</div>
    </mat-card-content>
    <mat-card-actions>
        <button mat-stroked-button color="warn">DELETE</button>
        <button mat-stroked-button>UPDATE STATUS</button>
    </mat-card-actions>
</mat-card>