<div class="ticket-details">
    <mat-card>
        <mat-card-header>
            <mat-card-title>{{ticket.title}}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div>Ticket #: {{ticket.id}}</div>
            <div>Description: {{ticket.description}}</div>
            <div>Status: {{ticket.status}}</div>
            <div>Priority: {{ticket.priority}}</div>
            <div>Email: {{ticket.email}}</div>
            <div>Status: {{ticket.status}}</div>
            <div>Refers To: {{ticket.refersTo}}</div>
        </mat-card-content>
        <mat-card-actions>
            <div class="ticket-actions">
                <button mat-stroked-button (click)="goToTicketBrowser()"><mat-icon>arrow_back_io</mat-icon>All Tickets</button>
                <div>
                    <button mat-stroked-button color="warn" (click)="deleteTicket(ticket.id)">DELETE</button>
                    <button mat-stroked-button (click)="save()">SAVE</button>
                </div>
            </div>
        </mat-card-actions>
    </mat-card>
</div>