.ticket-browser {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.mat-header-cell, .mat-cell {
    padding: 5px;
}
.related-tickets {
    padding: 5px;
}

.action-buttons {
    display: flex;
    align-self: flex-end;
    button {
        margin: 1em;
    }
}