.ticket-browser {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.mat-header-cell, .mat-cell {
    padding: 5px;
}
.related-tickets {
    padding: 5px;
}

.action-buttons {
    display: flex;
    align-self: flex-end;
    button {
        margin: 1em;
    }
}

.table-container {
    table {
        width: 100%;
    }
    .table-actions {
        display: flex;
        justify-content: space-between;
        .table-filter {
            width: 100%;
            margin-right: 25px;
        }
    }
}